
#my-canvas {
  background-image: url(image/n-logo-bal.png);
  /*background-size: 32px 32px;*/
  background-repeat: no-repeat;
  animation-name: snow-falling;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes snow-falling {
  0% {
    background-position: 0px -80px;
  }

  10% {
    background-position: 20px 60px;
  }

  20% {
    background-position: 0px 200px;
  }

  30% {
    background-position: 20px 340px;
  }

  40% {
    background-position: 0px 480px;
  }

  45% {
    background-position: 748px 480px;
  }

  50% {
    background-position: 748px 480px;
  }

  60% {
    background-position: 768px 340px;
  }

  70% {
    background-position: 748px 200px;
  }

  80% {
    background-position: 768px 60px;
  }

  90% {
    background-position: 748px -80px;
  }

  100% {
    background-position: 768px -80px;
  }

}